body{
  margin-top: 26px;
  background-color: #EAEAEA;

}
table{
  border-collapse:collapse;
  width: 40px;
  margin: auto;
}
th,td{
  border:1px solid black;
}
tr:hover {background-color: #f5f5f5}
th {
    background-color: #4CAF50;
    color: white;
}

#div1{

}
#menu {
  width : 40px;
  margin: auto;
}
