body{
  background-color: #EAEAEA;
}
table{
  border-collapse:collapse;
  width: auto;
  margin: auto;
}
th,td{
  border:1px solid black;
}
tr:hover {background-color: #f5f5f5}
th {
    background-color: #4CAF50;
    color: white;
}
#login_info {
  text-align: center;
  font-size: 15px;
}
